<a href="https://colab.research.google.com/github/juhyeon0205/study_temps/blob/main/initial_juhyeon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 여긴 화면 출력 명령어
print("안녕하세요. 첫 개발 시작입니다.") # 안녕. 출력

안녕하세요. 첫 개발 시작입니다.

In [2]:
# quest 1
print("노주현은 데이터 엔지니어 양성과정을 듣습니다.")

노주현은 데이터 엔지니어 양성과정을 듣습니다.

In [3]:
# 숫자화된 문자 출력 with 상수
print("4 + 5")

4 + 5

In [4]:
# 숫자 with 상수
print(4 + 5)

9

In [5]:
# 숫자화된 문자 출력 with 변수
numberwithval = "4 + 5"
print(numberwithval)

4 + 5

In [6]:
# 숫자화된 문자 출력 with 변수
numberwithval2 = "40 + 50"
print(numberwithval2)

40 + 50

In [7]:
# 숫자화된 변수 출력 with 변수
numbers = numberwithval2 + " = 90"
print(numbers)

40 + 50 = 90

In [8]:
define_number = 10
numberwithval = numberwithval + str(define_number)
print(numberwithval)

4 + 510

In [9]:
# 데이터 타입이 숫자 with 변수
result = 4 + 5
print(result)

9

In [10]:
# 두 수를 입력 받아 변수에 넣고 결과 출력
input = 4
inputtwo = 5
result = input + inputtwo
print(result)

9

In [11]:
# 위에 내용 반복
input = 8
inputtwo = 9
result = input + inputtwo
print(result)

17

In [12]:
#여긴 화면 출력 명령어
print("안녕하세요. 첫 개발 시작입니다.") # 안녕. 출력
#quest 1
print("노주현은 데이터 엔지니어 양성과정을 듣습니다.")
# 숫자화된 문자 출력 with 상수
print("4 + 5")
# 숫자 with 상수
print( 4 + 5)
# 숫자화된 문자 출력 with 변수
numberwithval = "4 + 5"
print(numberwithval)
#숫자화된 문자 출력 with 변수
numberwithval2 = "40 + 50"
print(numberwithval2)
#숫자화된 변수 출력 with 변수
numbers =numberwithval2 + " = 90"
print(numbers)
define_number = 10
numberwithval = numberwithval + str(define_number)
print(numberwithval)
#데이터 타입이 숫자 with 변수
result = 4 + 5
print(result)
# 두 수를 입력 받아 변수에 넣고 결과 출력
input = 4
inputtwo = 5
result = input + inputtwo
print(result)
# 위에 내용 반복
input = 8
inputtwo = 9
result = input + inputtwo
print(result)

안녕하세요. 첫 개발 시작입니다.
노주현은 데이터 엔지니어 양성과정을 듣습니다.
4 + 5
9
4 + 5
40 + 50
40 + 50 = 90
4 + 510
9
9
17